		#head
			{ 
				background-color:purple;
				color:white;
				text-align:center;
				padding:5.5px;			
			}
		 #side{
					line-height:30px;
					background-color:#e6e6e6;
					height:600px;
					width:159px;
					float:left;
					padding:1px;
					padding-bottom:50px;
				}
				#bottom_div{
					background-color:purple;
					color:white;
					clear:both;
					text-align:center;
					height:50px;
				}
				#req
				{
					color:red;
				}
				ul
				{
					color:blue;
					list-style-type:none;
					float:left;
					text-align:left;
					padding-left:0px;
				}
				#body
				{
					float: left;
					padding-left:50px;
					background-color:green;
				}
				#h1{color:green;}
				#p
				{
					background-color:red;
				}
				#special
				{
					padding-top: 550px;
					color:green;
					font-size:10px;
					position:fixed;
				}

